<%#
   File Name: header.ejs
   Student's Name: Zhaoxing Chang
   Student ID: 301297266
   Date: September 30, 2023
%>
<div id="logo"><%- include('logo.ejs') %></div>
<div id="navbar"><%- include('navbar.ejs') %></div>
