<%#
   File Name: navbar.ejs
   Student's Name: Zhaoxing Chang
   Student ID: 301297266
   Date: September 30, 2023
%>
<ul id="navbar">
    <li><a href="/home">HOME PAGE</a></li>
    <li><a href="/aboutme">ABOUT ME</a></li>
    <li><a href="/projects">PROJECTS PAGE</a></li>
    <li><a href="/services">SERVICES PAGE</a></li>
    <li><a href="/contact">CONTACT ME</a></li>
</ul>
