<%#
   File Name: aboutme.ejs
   Student's Name: Zhaoxing Chang
   Student ID: 301297266
   Date: September 30, 2023
%>
<div id="aboutmetitle">
    <h1>About Me</h1>
</div>

<div id="aboutmeimg">
    <div>
        <img src="/public/images/photo.jpg" alt="photo" width="350px">
    </div>
    <div>
        <h2 align="center">Zhaoxing Chang</h2>
    </div>
</div>
<div id="aboutmetext">
    <p>
        Hello, I'm Zhaoxing, a passionate individual on an exciting journey into the world of programming. With a heart brimming with curiosity and a steadfast belief that the future belongs to code, I am dedicated to mastering the art and science of software development.
        <br>
        <br/>
        My fascination with programming began as a spark and has since grown into a burning passion. I am currently in the process of honing my coding skills, eagerly exploring the intricacies of languages like Python, Java, and JavaScript. Each line of code I write feels like a step towards unlocking new possibilities and solving real-world challenges.
        <br>
        <br/>
        I firmly believe that programming is the cornerstone of the future. In a rapidly evolving digital landscape, it is the code that breathes life into innovations, powers automation, and propels us forward. From web applications that connect people worldwide to machine learning algorithms that drive decision-making, the potential of programming is boundless.
        <br>
        <br/>
        As I embark on this exhilarating journey, I invite you to join me in exploring the limitless possibilities of programming. Together, we can shape a future where innovation knows no bounds, and where the language of code becomes a universal tool for progress and transformation. Thank you for being a part of my programming odyssey.
    </p>
</div>