<%#
   File Name: home.ejs
   Student's Name: Zhaoxing Chang
   Student ID: 301297266
   Date: September 30, 2023
%>
<div id="homeimg">
    <img src="/public/images/home.jpg" alt="code" width="350px" height="600px">
</div>
<div id="hometext">
<div>
    <h2>
        <h2 align="center">Welcome to My Field</h2>
        <P>Welcome to my personal website! I'm thrilled to have you here, and I appreciate your interest in joining me on my coding journey. Whether you're a fellow enthusiast, a seasoned programmer, or just curious about the world of coding, there's something here for everyone.
        <br>
        <br/>
        This website is my digital playground where I document my progress, share my thoughts, and showcase my projects as I delve into the fascinating world of programming. It's a place where I not only learn and grow but also hope to inspire and connect with like-minded individuals.</P>
    </h2>
</div>
<div>
    <h2 align="center">My Mission</h2>
    <p>
        My mission is simple yet ambitious: to become a proficient programmer and empower others to do the same. Through continuous learning, dedication, and a passion for problem-solving, I aim to master the art of coding and leverage this skill to create innovative solutions that make a positive impact on our ever-evolving digital world.
        <br>
        <br/>

        I believe that programming is not just about writing lines of code; it's a creative process that has the potential to change lives, solve complex problems, and transform industries. With each project I undertake, I strive for excellence and push the boundaries of what's possible.
        <br>
        <br/>
        But my journey isn't just about personal growth. It's about sharing knowledge, collaborating with the global community, and fostering a sense of curiosity that drives us all forward. Together, we can unlock the immense potential of technology and build a brighter future.
        <br>
        <br/>
        So, whether you're here to learn, to collaborate, or simply to explore, I invite you to join me on this exciting adventure. Together, we'll write the next chapter in the ever-evolving story of technology, one line of code at a time. Thank you for being a part of it. 
    </p>
</div>
</div>