<%#
   File Name: projects.ejs
   Student's Name: Zhaoxing Chang
   Student ID: 301297266
   Date: September 30, 2023
%>
<div id="projectstitle">
   <h1>
    Recent Projects 
   </h1>
</div>
<div id="projects">
    <div id="project1">
        <h4>Word Guessing Game</h4>
        <img src="/public/images/project1.jpg" alt="pj1" width="300px">
        <div>
            <p>I have developed a fun and interactive word-guessing game using JavaScript. This engaging game challenges players to guess the hidden word by revealing one letter at a time. With a user-friendly interface and a diverse word database, players can enjoy hours of entertainment while improving their vocabulary. It's a perfect blend of education and entertainment, suitable for all ages. Give it a try and test your word-solving skills!</p>
        </div>
    </div>
    <div id="project2">
        <h4>Bubble Tea Database</h4>
        <img src="/public/images/project2.jpg" alt="pj2" width="300px">
        <div>
            <p>I contributed to a project involving the creation of a comprehensive database for a bubble tea shop. This database streamlined inventory management, customer orders, and supplier information. It enhanced the shop's operational efficiency, ensuring the availability of popular ingredients and flavors. The system also facilitated customer loyalty programs, enhancing the overall customer experience.</p>
        </div>
    </div>
    <div id="project3">
        <h4>RateMyCentennial</h4>
        <img src="/public/images/project3.jpg" alt="pj3" width="300px">
        <div>
            <p>I was involved in a project to design a RateMyProfessor platform for Centennial College. This platform enabled students to provide feedback on their professors, helping future students make informed choices. It included features like rating, reviews, and course recommendations, improving the overall teaching and learning experience at the college.</p>
        </div>
    </div>
</div>