<%#
   File Name: services.ejs
   Student's Name: Zhaoxing Chang
   Student ID: 301297266
   Date: September 30, 2023
%>
<div id="servicestitle">
    <h1>Services can be provided...</h1>
</div>
<div id="services">
    <div id="services1">
        <img src="/public/images/database.jpg" alt="database" >
        <h4>DATABASE</h4>
    </div>
    <div id="services2">
        <img src="/public/images/c.jpg" alt="c#">
        <h4>C#</h4>
    </div>
    <div id="services3">
        <img src="/public/images/html.jpg" alt="html">
        <h4>HTML</h4>
    </div>
    <div id="services4">
        <img src="/public/images/js.jpg" alt="javascript">
        <h4>JAVASCRIPT</h4>
    </div>
    
</div>